#marquee-bar {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: flex;
  font-size: var(--font-up-1);
  background: var(--primary-100);
  border-bottom: var(--default-border);

  div {
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;

      &:first-child {
        animation: marquee #{$marquee_speed}s linear infinite;
      }

      &:last-child {
        animation: marquee2 #{$marquee_speed}s linear infinite;
        position: absolute;
        top: 0;
      }

      li {
        margin: 0 1em;

        a {
          // text-transform: uppercase;
          // color: var(--primary);
          &:hover {
            text-decoration: underline;
            text-decoration-thickness: 0.07em;
          }
        }
      }
    }

    &:hover ul {
      animation-play-state: paused;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
